<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User </title>
</head>
<body>
    <h2>You are about to delete this <%= user.id %></h2>
    <form method="POST" action="/user/<%= user.id %>?_method=DELETE">
        <input type="text" name="username" placeholder="confirm username" required>
        <input type="email" name="email" placeholder="Confirm email" required>
        <input type="password" name="password" placeholder="Confirm password" required>
        <button type="submit">Delete</button>
    </form>
</body>
</html>