<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <form method="post" action="/users">
        <input placeholder="enter your id " name="id" />
        <input placeholder="enter your email" name="email" type="email"/>
        <input placeholder="enter user name " name="username" type="text"/>
        <input placeholder="enter your password" name="password" type="password"/>
        <button>Submit</button>
    </form>
</body>
</html>